          <nav class="navPages with-alt-cat-menu no-images no-brands altMenu-sticky-only">
            {{>components/common/sticky-nav-pages}}
              <ul class="navPages-list">
                  <div class="nav-align{{#if theme_settings.mainNav-align '!==' 'left'}} center{{/if}}">
                  <div class="custom-pages-nav">
                      <h2 class="container-header mobile">Main Menu</h2>
                      {{#each pages}}
                          <li class="navPages-item">
                              {{> components/common/navigation-list}}
                          </li>
                      {{/each}}
                      <div class="clear"></div>
                  </div>
              </ul>
          </nav>
