---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}

<main class="page content contact{{#if theme_settings.contact_page_with_sidenav '!==' false}} contact-page-with-sidenav{{/if}}">

  <div class="contact-page-content">
    {{#if ../theme_settings.contact_page_with_sidenav '===' false}}
      {{> components/page/contact-page-no-sidenav}}
    {{/if}}
    {{#if ../theme_settings.contact_page_with_sidenav '===' true}}
      {{> components/page/contact-page-with-sidenav}}
    {{/if}}
    <div class="clear"></div>
  </div>

</main>

{{/partial}}

{{> layout/base}}
