<div class="brands-slider-section" style="opacity: 1;">
  <h2 class="container-header page-heading brands">Top Brands</h2>
  <div class="brands-slider">
    <img src="{{cdn 'img/home/3m.png' }}" /> 
    <img src="{{cdn 'img/home/4b.png' }}" /> 
    <img src="{{cdn 'img/home/84-lumber.png' }}" />
    <img src="{{cdn 'img/home/abeymetric.png' }}" /> 
    <img src="{{cdn 'img/home/absolute-coatings.png' }}" />
     <img src="{{cdn 'img/home/afl.png'}}" />
  </div>
  <div class="clear"></div>
</div>
