<div>
    <div class="flex-four-img">
        <div>
            <img src="{{cdn '../img/home/section-grid-img.png' }} ">
            <div>
                <h2>Lorem Ipsum Dolor</h2>
                <p>consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aligua.</p>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/home/section-grid-img2.png' }} ">
            <div>
                <h2>Duis Aute Irure </h2>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/home/section-grid-img-3.png' }} ">
            <div>
                <h2>minim veniam</h2>
                <p>Duis aute irure dolor in reprehenderit in 
                    voluptate velit esse cillum dolore </p>
            </div>
        </div>
        <div>
            <img src="{{cdn '../img/home/section-grid-img4.png' }} ">
            <div>
                <h2>consectetur adipiscing</h2>
                <p>Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt</p>
            </div>
        </div>
    </div>
</div>