<nav class="navPages with-alt-cat-menu with-images with-brands two-levels-deep">
  {{>components/custom/mega-shop-nav/2-call-level-1-with-images-with-brands-two-levels-deep}}
    <ul class="navPages-list">
        <div class="nav-align{{#if theme_settings.mainNav-align '!==' 'left'}} center{{/if}}">
        <div class="custom-pages-nav">
            <h2 class="container-header mobile">Main Menu</h2>
            {{#each pages}}
                <li class="navPages-item">
                    {{> components/common/navigation-list}}
                </li>
            {{/each}}
            <h2 class="container-header mobile">Shop By Category</h2>
            {{#each categories}}
                    <li class="navPages-item mobile">
                        {{> components/common/navigation-list}}
                    </li>
                {{/each}}
            <h2 class="container-header mobile">Shop By Brand</h2>
            {{#each shop_by_brand}}
                   <li class="navPages-item mobile">
                        <a class="navPages-action" href="{{url}}">{{name}}</a>
                    </li>
            {{/each}}
                    <li class="navPages-item mobile">
                        <a class="navPages-action" href="/brands/">View all Brands</a>
                    </li>
            <div class="clear"></div>
        </div>
    </ul>
</nav>
