<!DOCTYPE html>
<html>
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i,400,400i,700,700i|IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">

    <link href="{{ head.favicon }}" rel="shortcut icon">
    {{#block "head"}}{{/block}}

    {{{stylesheet '/assets/css/theme.css'}}}
    {{{ checkout.checkout_head }}}
    {{{stylesheet '/assets/css/pinnacle.css'}}}
    {{{ stylesheet '/assets/css/optimized-checkout.css' }}}
    {{ getFontsCollection }}

</head>
<body id="body" class="main{{#if theme_settings.body_width '===' 960}} nine-sixty{{/if}} {{#if theme_settings.body_width '===' 1170}} eleven-seventy {{/if}} {{#if theme_settings.body_width '===' 1280}} twelve-eighty {{/if}} {{#if theme_settings.body_width '===' 1366}} thirteen-sixty-six {{/if}} {{#if theme_settings.body_width '===' 1440}} fourteen-forty {{/if}} checkout">

{{#block "page"}}{{/block}}

  <!-- ACTIVE SHOPNAV DIM PAGE -->
        <div id="shopnav-dim-page" style="display: none;">
          <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window">
            <div id="san"></div>
          </div>
          <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"></div>
        </div>
        <!-- END ACTIVE SHOPNAV DIM PAGE -->

        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/footer-checkout }}
</body>
</html>
