
<!-- No Tabs, In Carousels -->
{{#if theme_settings.featured_products_layout '===' 'no-tabs-in-carousels'}}
<div class="top-sellers no-tabs-in-carousels">
  <ul class="productGrid productGrid--maxCol{{ columns }} top-sellers" data-product-type="top_sellers">
    {{#each products}}
    <li class="product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</ul>
  <div class="clear"></div>
</div>
{{/if}}

<!-- In Tabs, In Carousels -->
{{#if theme_settings.featured_products_layout '===' 'in-tabs-in-carousels'}}
<div class="top-sellers in-tabs-in-carousels">
  <ul class="productGrid productGrid--maxCol{{ columns }} top-sellers" data-product-type="top_sellers">
    {{#each products}}
    <li class="product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</ul>
  <div class="clear"></div>
</div>
{{/if}}

<!-- No Tabs, No Carousels -->
{{#if theme_settings.featured_products_layout '===' 'no-tabs-no-carousels'}}
<div class="top-sellers">
  <ul class="productGrid productGrid--maxCol{{ columns }} top-sellers" data-product-type="top_sellers">
    {{#each products}}
    <li class="product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</ul>
  <div class="clear"></div>
</div>
{{/if}}

<!-- In Tabs, No Carousels -->
{{#if theme_settings.featured_products_layout '===' 'in-tabs-no-carousels'}}
<div class="top-sellers">
  <ul class="productGrid productGrid--maxCol{{ columns }} top-sellers" data-product-type="top_sellers">
    {{#each products}}
    <li class="product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</ul>
  <div class="clear"></div>
</div>
{{/if}}
